{% extends 'base.html' %}

{% set title = "Riego - Bewässerungskreise" %}
{% set active_menu = "valves" %}

{% block content %}
<h1>{{ item['name'] }}</h1>
<ul>
	<li>name: {{item['name']}}</li>
	<li>remark: {{item['remark']}}</li>
	<li>box_id: {{item['box_id']}}</li>
	<li>topic: {{item['topic']}}</li>
	<li>duration: {{item['duration']}}</li>
	<li>interval: {{item['interval']}}</li>
	<li>last_run: {{item['last_run']}}</li>
	<li>last_shedule: {{item['last_shedule']}}</li>
	<li>is_running: {{item['is_running']}}</li>
	<li>is_enabled: {{item['is_enabled']}}</li>
    <li>hide: {{item['hide']}}</li>
    <li>box_topic (from JOIN): {{item['box_topic']}}</li>
</ul>

<p>
    <a href="/valves">list</a> 
    <a href="/valves/{{ item['id'] }}/edit">edit</a>
</p>
{% endblock %}
